<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/products"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ formType === 'create' ? 'New Product' : 'Update Product' }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button form="product-form" (click)="onSubmit(form.value)"
        [disabled]="!form.valid || !(formType === 'update' ? productForm?.image : image)">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form id="product-form" #form="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Product Name</ion-label>
            <ion-input type="text" name="name" required [ngModel]="productForm?.name"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-textarea rows="3" name="description" required [ngModel]="productForm?.description"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <!-- <ion-col size-sm="6" offset-sm="3">
          <p>Description must be between 1 and 180 characters.</p>
        </ion-col> -->
      </ion-row>
      <ion-radio-group name="product_type" required [ngModel]="productForm?.product_type" #productType="ngModel">
        <ion-row>
          <ion-col size-sm="3" offset-sm="3">
            <ion-item>
              <ion-label>Mobile</ion-label>
              <ion-radio value="mobile"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col size-sm="3">
            <ion-item>
              <ion-label>Laptop</ion-label>
              <ion-radio value="laptop"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-radio-group>

      <div class="mobile" *ngIf="productType.value === 'mobile'">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Processor</ion-label>
              <ion-input type="text" name="processor" required [ngModel]="productForm?.specs?.processor"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">RAM</ion-label>
              <ion-input type="text" name="ram" required [ngModel]="productForm?.specs?.ram"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Screen Size</ion-label>
              <ion-input type="text" name="screen_size" required [ngModel]="productForm?.specs?.screen_size">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Color</ion-label>
              <ion-input type="text" name="color" required [ngModel]="productForm?.specs?.color"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </div>

      <div class="laptop" *ngIf="productType.value === 'laptop'">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Processor</ion-label>
              <ion-input type="text" name="processor" required [ngModel]="productForm?.specs?.processor"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">RAM</ion-label>
              <ion-input type="text" name="ram" required [ngModel]="productForm?.specs?.ram"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">HD Capacity</ion-label>
              <ion-input type="text" name="hd_capacity" required [ngModel]="productForm?.specs?.hd_capacity">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </div>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <app-image-picker [showPreview]="image" (imagePick)="onImagePicked($event)"></app-image-picker>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>